* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
  font-family: cursive;
}
.container {
  background-color: #333;
  width: 400px;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.textarea {
  resize: none;
  outline: none;
  width: 100%;
  height: 100px;
  font-size: 18px;
  font-family: sans-serif;
  padding: 10px;
  border: 2px solid darkgray;
}
.counter-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.counter-container p {
  font-size: 18px;
  color: grey;
}
.tota-counter {
  color: slateblue;
}
.remainig-counter {
  color: orangered;
}
